<app-title [title]="'Eventos'"></app-title>         

<div class="form-inline">
    <div class="form-group mb-2">
        <label class= "mr-2" for="">Filtro</label>
        <input type="text" class="form-control mr-2" placeholder="buscar"
        [(ngModel)]="filterBy"> <!--two way databinding-->
        <div class="form-inline">
            <mat-progress-spinner class="mr-2" [diameter]="'30'" [strokeWidth]= "'5'" [color]="'primary'" [mode]="'indeterminate'" *ngIf="loading$ | async">         
            </mat-progress-spinner>        
            <h4 class= "mt-4" *ngIf="loading$ | async"><b>Carregando</b></h4>
        </div>       
    </div>
</div>

<!--<h6>Filtrando por: {{filterBy}}</h6>-->

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>           
            <th><button class="btn btn-outline-light btn-sm" (click)="setImageVisibility()"
                [style.width.px]="imgWidth"
                [style.margin.px]="imgMargin"                                              
                data-toggle="tooltip" data-placement="bottom">                                
                <i class="{{!getImageVisibility() ? 'fa fa-eye-slash' : 'fa fa-eye'}}"> {{!getImageVisibility() ? ' Ocultar imagens' : ' Mostrar imagens'}}</i>
            </button></th>
            <th>#</th>            
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="events && events.length > 0">  <!--Structural Directives *ngIf *ngFor -->    
        <tr *ngFor="let event of filteredEvents">
            <td> <!--Properties Bindings [style.width.px] -->
                <img src="/assets/{{event.imageUrl}}" alt="" [collapse]="getImageVisibility()" [isAnimated]="true"
                    [style.width.px]="imgWidth"
                    [style.margin.px]="imgMargin" 
                >
            </td>
            <td>{{event.id}}</td>  <!--Interpolation {{event.eventId}}-->          
            <td>{{event.subject}}</td>
            <td>{{event.local}}</td>
            <td>{{event.date | HelperDateTimeFormatPipe}}</td>
            <td>{{event.amountOfPeople}}</td>
            <td>{{event.lots[0].name | uppercase}}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm mr-1" tooltip="Editar">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(templateDelete)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8" *ngIf="!filteredEvents || filteredEvents.length === 0">
                <h4 class="text-center">Nenhum Evento Encontrado</h4>
            </td>
        </tr>
    </tfoot>
</table>

<ng-template #templateDelete>
    <div class="modal-body text-center">
      <p>Você tem certeza que deseja excluir o evento?</p>
      <button type="button" class="btn btn-default" (click)="confirmDelete()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="declineDelete()" >Não</button>
    </div>
  </ng-template>
